<launch>

	<group ns="beginner_tutorials1">
		<node pkg="beginner_tutorials" name="talk1" type="talker"/>
	</group>
	<group ns="beginner_tutorials1">
		<node pkg="beginner_tutorials" name="listen1" type="listener"/>
	</group>
	<group ns="beginner_tutorials1">
		<node pkg="beginner_tutorials" name="listen2" type="listener"/>
	</group>
	<group ns="beginner_tutorials1">
		<node pkg="beginner_tutorials" name="listen3" type="listener.py"/>
	</group>

</launch>

